* {
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  max-width: 500px;
  margin: auto;
}
.primary-btn {
  color: #fff;
  background: #1890ff;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  border: 1px solid #1890ff;
  border-radius: 2px;
  padding: 5px 10px;
}
.reupload-btn {
  margin-bottom: 16px;
  margin-left: 8px;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 24px;
}
.form-item label {
  margin-bottom: 8px;
}
canvas {
  display: none;
  margin-bottom: 15px;
  border-radius: 150px;
}
#avatar-img, #copper-img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-bottom: 16px;
}
h3,
h4 {
  font-weight: normal;
  margin-bottom: 16px;
}
.icon-banners {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: 24px;
}
.icon-banners h4 {
  margin-bottom: 8px;
}
.icon-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-banner img {
  width: 23%;
  height: 23%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.previewBoxRound {
  box-shadow: 0 0 5px #adadad;
  width: 100px;
  height: 100px;
  margin: 30px auto;
  border-radius: 50%;
  overflow: hidden; /* 这个超出设置为隐藏很重要 */
}

#cropper-container {
  width: 100%;
  margin: 0 auto 16px;
  height: 400px;
}

.cropper-btn {
  margin-bottom: 8px;
}

.cropper-btn > button {
  margin-bottom: 8px;
}