* {
  margin: 0;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  max-width: 500px;
  margin: auto;
}
.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 24px;
}
.form-item label {
  margin-bottom: 8px;
}
canvas {
  display: none;
  margin-bottom: 15px;
  border-radius: 150px;
}
#avatar-img, #copper-img {
  display: none;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.download-btn {
  visibility: hidden;
  border: 0;
  background: none;
}
.divider {
  white-space: nowrap;
  visibility: hidden;
}
h3,
h4 {
  font-weight: normal;
  margin-bottom: 16px;
}
.icon-banners {
  display: flex;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  flex-direction: column;
  margin-top: 24px;
}
.icon-banners h4 {
  margin-bottom: 8px;
}
.icon-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-banner img {
  width: 23%;
  height: 23%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.previewBoxRound {
  box-shadow: 0 0 5px #adadad;
  width: 100px;
  height: 100px;
  margin: 30px auto;
  border-radius: 50%;
  overflow: hidden; /* 这个超出设置为隐藏很重要 */
  display: none;
}

#cropper-container {
  width: 100%;
  margin: 0 auto 16px;
  height: 400px;
  display: none;
}

.cropper-btn {
  display: none;
  border: 0;
  background: none;
  margin-bottom: 8px;
}